.header {
  height: 100vh;
  background: #003c31;
}

.box {
  background: #004639f1;
  width: 40%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 18px;
  z-index: 21;
}
.swap {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}
.row {
  width: 100%;
  margin: 10px;
  margin-right: 10px;
}
.row1-icon {
  cursor: pointer;
}
.row-input {
  margin: 5px 0px 5px 0px;
  border-radius: 18px;
  border: none;
  background-color: #003c31;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.token-coin-btn {
  background-color: #004639f1;
  width: 25%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  padding: 0px 5px;
  border-radius: 16px;
}
.token-coin-btn:hover {
  cursor: pointer;
  background-color: #01977cab;
}
.token-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.token-icon {
  color: white;
}
.input {
  border-radius: 18px;
  border: none;
  background-color: #003c31;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  outline: none;
  text-align: right;
  height: 85px;
  width: 60%;
}

::-webkit-input-placeholder {
  font-family: "Allerta", sans-serif;
  color: #ffffff7c;
}
.row1-title {
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.row1-icon {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.button {
  padding: 16px;
  width: 100%;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  color: white;
  font-size: 16px;
  color: #6afff8;
  font-weight: 500;
  background-color: #006855;
}
.button:hover {
  background-color: #038670d0;
}
.icon {
  top: 44%;
  left: 48%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 12px;

  border: 4px solid #004639f1;
  position: absolute;
  background-color: #027c66f1;
  z-index: 1;
}
.fa-arrow-down {
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 30%;
}

.token-text-btn {
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(0, 160, 99);
  color: #ffffff;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  height: 2.4rem;
  width: 100%;
}
@media (max-width: 952px) {
}
@media (max-width: 552px) {
  .box {
    width: 85%;
  }
  .header {
    height: 110vh;
  }
}
