.text {
  font-size: 14px;
  font-weight: 600;
  color: #c3c5cb;
  margin-bottom: 12px;
}
.text2 {
  font-size: 14px;
  font-weight: 400;
  color: #c3c5cb;
  margin-bottom: 10px;
}
.section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.setting-btn {
  margin-right: 8px;
  background-color: rgb(33, 114, 229);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 36px;

  padding: 0.6rem;
}
.setting-input {
  padding: 0.3rem 0.9rem;
  border-radius: 18px;
  border: 0.1px solid rgba(255, 255, 255, 0.164);
  background-color: #212429;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  outline: white;
  text-align: right;
  width: 70%;
}
.section4-part2 {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.section4-text,
.section5-text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.setting-input-minute {
  padding: 0.45rem 0.9rem;
  border-radius: 18px;
  border: 0.1px solid rgba(255, 255, 255, 0.164);
  background-color: #212429;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  outline: white;
  text-align: right;
  width: 22%;
  margin-right: 13px;
}
.section5-part2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.toggle-button-cover {
  border-radius: 18px;
  border: none;
  background: rgb(25, 27, 31);
  cursor: pointer;
  outline: none;
  padding: 2px;
  width: 30%;
}

.btn-radio {
  display: inline-block;
  padding: 7px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
  display: none;
}
input[type="radio"].toggle + label {
  cursor: pointer;
  color: white;
  border-radius: 25px;
}
input[type="radio"].toggle + label:hover {
  color: white;
  border-radius: 25px;
}
input[type="radio"].toggle + label:after {
  background: #1a1a1a;
  content: "";
  height: 100%;
  position: absolute;
  border-radius: 25px;
  top: 0;
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}
input[type="radio"].toggle.toggle-left + label {
  border-right: 0;
}
input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}
input[type="radio"].toggle.toggle-right + label {
  margin-left: 5px;
}
input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}
input[type="radio"].toggle:checked + label {
  cursor: default;
  color: #fff;
  transition: color 200ms;
  background: blue;
  border-radius: 21px;
}
input[type="radio"].toggle:checked + label:after {
  left: 0;
}
